.button {
  @include link-colors($white,$white,$white,$white);
  background: linear-gradient(-45deg, #ffd235, #eb78f9);
  line-height: $baseline*1.5;
  padding: 0 $baseline;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  transition: all ease 0.25s;
  &:active {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    transform: translateY(1px);
  }
}
